<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dotaQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D226E501B884A2900B9D43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D226E671B884A2A00B9D43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D226E721B884A2A00B9D43D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
